/* TODO: transfer variables to :root. */
:root {
  --dynamic-outline-tab-size: 24px;
}
.theme-dark,
.theme-light {
  --dynamic-outline-background-modifier-hover-lighter: rgba(var(--mono-rgb-100), 0.045);
  --dynamic-outline-background-accent: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.075);
  --dynamic-outline-border-color: var(--background-modifier-border);
  --dynamic-outline-window-width: 256px;
  --dynamic-outline-opacity: 1;
  --dynamic-outline-window-gap: 4px;
  --dynamic-outline-window-offset-bottom: 0px;
  --dynamic-outline-top: calc(var(--header-height) + 16px + var(--dynamic-outline-window-gap));
  --dynamic-outline-top-editing-toolbar: calc(var(--header-height) + 38px + var(--dynamic-outline-window-gap) + var(--dynamic-outline-window-offset-top));
  --dynamic-outline-bottom: calc(var(--dynamic-outline-window-gap) + var(--dynamic-outline-window-offset-bottom));
  --dynamic-outline-background: var(--background-primary);
  --dynamic-outline-background-hover: var(--dynamic-outline-background-modifier-hover-lighter);
  --dynamic-outline-active-heading-pill-color: var(--interactive-accent);
  --dynamic-outline-highlight-font-weight: var(--font-normal);
  --dynamic-outline-active-heading-background: var(--background-modifier-hover);
}
.theme-light {
  --dynamic-outline-shadow-color: rgba(99, 99, 99, 0.1);
}
.theme-dark {
  --dynamic-outline-shadow-color: rgba(0, 0, 0, 0.2);
}
#dynamic-outline {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: var(--layer-popover);
  top: var(--dynamic-outline-top);
  max-height: calc(92.5dvh - var(--dynamic-outline-top) - var(--dynamic-outline-bottom));
  width: var(--dynamic-outline-window-width);
  padding: 10px 0 5px;
  right: 20px;
  border-radius: 12px;
  box-shadow: var(--dynamic-outline-shadow-color) 0px 2px 8px 0px;
  opacity: var(--dynamic-outline-opacity);
}
#dynamic-outline.location-left {
  right: unset;
  left: 20px;
  margin-top: -20px;
}
.dynamic-outline-content-container {
  overflow-y: auto;
  padding: 0 10px;
}
.dynamic-outline-content-container::-webkit-scrollbar {
  display: none !important;
}
#dynamic-outline .tree-item-self {
  margin: 1px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background 25ms linear;
}
#dynamic-outline .tree-item-self:hover,
#dynamic-outline .tree-item-self.highlight:hover,
#dynamic-outline .tree-item-self.hovered,
#dynamic-outline .tree-item-self.highlight.hovered {
  background-color: var(--dynamic-outline-background-hover);
}
#dynamic-outline .tree-item-self.highlight {
  position: relative;
  background-color: var(--dynamic-outline-active-heading-background);
}
#dynamic-outline .tree-item-self.highlight::after {
  content: "";
  position: absolute;
  inset-inline-start: 2px;
  width: 4px;
  background-color: var(--dynamic-outline-active-heading-pill-color);
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 22px;
}
.tree-item-children {
  transition: background 350ms linear, max-height 350ms ease, opacity 350ms ease;
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
}
.is-collapsed:not(.highlight) + .tree-item-children {
  max-height: 0;
  opacity: 0;
}
