/* TODO: transfer variables to :root. */
:root {
  // Applied to the li.style directly with dynamic tab levels.
  // 直接应用于 li.style，具有动态标签级别。
  --dynamic-outline-tab-size: 24px;
}

.theme-dark,
.theme-light {
  // New color variables
  --dynamic-outline-background-modifier-hover-lighter: rgba(var(--mono-rgb-100),
      0.045);
  --dynamic-outline-background-accent: hsla(var(--accent-h),
      var(--accent-s),
      var(--accent-l),
      0.075);

  // Outline Window
  --dynamic-outline-border-color: var(--background-modifier-border);
  --dynamic-outline-window-width: 256px;
  --dynamic-outline-opacity: 1;

  --dynamic-outline-window-gap: 4px;
  --dynamic-outline-window-offset-bottom: 0px;
  --dynamic-outline-top: calc(var(--header-height) + 16px + var(--dynamic-outline-window-gap));
  --dynamic-outline-top-editing-toolbar: calc(var(--header-height) + 38px + var(--dynamic-outline-window-gap) + var(--dynamic-outline-window-offset-top));
  --dynamic-outline-bottom: calc(var(--dynamic-outline-window-gap) + var(--dynamic-outline-window-offset-bottom));

  // List items
  --dynamic-outline-background: var(--background-primary);
  --dynamic-outline-background-hover: var(--dynamic-outline-background-modifier-hover-lighter);

  // Active Heading
  --dynamic-outline-active-heading-pill-color: var(--interactive-accent);
  --dynamic-outline-highlight-font-weight: var(--font-normal);
  --dynamic-outline-active-heading-background: var(--background-modifier-hover);
}

.theme-light {
  --dynamic-outline-shadow-color: rgba(99, 99, 99, 0.1);
}

.theme-dark {
  --dynamic-outline-shadow-color: rgba(0, 0, 0, 0.2);
}

// Dynamic Outline Window
#dynamic-outline {
  position: fixed;
  display: flex;
  flex-direction: column;

  z-index: var(--layer-popover);

  top: var(--dynamic-outline-top);
  // max-height: calc(92.5dvh - var(--dynamic-outline-top) - var(--dynamic-outline-bottom));
  max-height: calc(92.5dvh - var(--dynamic-outline-top) - var(--dynamic-outline-bottom));

  width: var(--dynamic-outline-window-width);
  padding: 10px 0 5px;
  right: 20px;

  // border: 1px solid var(--dynamic-outline-border-color);
  border-radius: 12px;
  box-shadow: var(--dynamic-outline-shadow-color) 0px 2px 8px 0px;

  opacity: var(--dynamic-outline-opacity);

  &.location-left {
    right: unset;
    left: 20px;
    margin-top: -20px;
  }
}

// Content Container
.dynamic-outline-content-container {
  overflow-y: auto;
  padding: 0 10px;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

// List Items
#dynamic-outline {
  .tree-item-self {
    margin: 1px 0;
    cursor: pointer;
    border-radius: 6px;
    transition: background 25ms linear;

    &:hover,
    &.highlight:hover,
    &.hovered,
    &.highlight.hovered {
      background-color: var(--dynamic-outline-background-hover);
    }

    &.highlight {
      position: relative;
      background-color: var(--dynamic-outline-active-heading-background);

      &::after {
        content: "";
        position: absolute;

        inset-inline-start: 2px;
        width: 4px;
        background-color: var(--dynamic-outline-active-heading-pill-color);
        border-radius: 8px;

        // Center the highlight indicator vertically.
        top: 50%;
        transform: translateY(-50%);
        height: 22px;
      }
    }
  }
}

.tree-item-children {
  // 加入 max-height 和 opacity 的过渡
  transition: background 350ms linear, max-height 350ms ease, opacity 350ms ease;
  max-height: 1000px; // 设置一个较大的值
  opacity: 1;
  overflow: hidden;
}

.is-collapsed:not(.highlight)+.tree-item-children {
  max-height: 0;
  opacity: 0;
}